Repository Safe-DS/API-Editor: changes, and which Codecov flags are due for each by the changed paths.
All: backend, desktop, gui

docs: update docs
  .gitattributes
  docs/README.md
  docs/gui.md
  docs/package-parser/README.md
  docs/package-parser/architecture.md
  mkdocs.yml
Due: none

chore: update LICENSE
  LICENSE
Due: none

docs: fix broken links
  docs/README.md
  docs/gui.md
Due: none

ci: release on demand
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

docs: add changelog
  .github/dependabot.yml
  docs/CHANGELOG.md
  docs/requirements.txt
  mkdocs.yml
Due: none

ci: push changelog on release
  package-lock.json
  package.json
  release.config.js
Due: none

ci: release on demand (#1293)
  .github/dependabot.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  docs/CHANGELOG.md
  docs/requirements.txt
  mkdocs.yml
  package-lock.json
  package.json
  release.config.js
Due: none

fix: issue URLs
  api-editor/gui/src/features/externalLinks/urlBuilder.ts
Due: gui

fix: issue URLs (#1296)
  api-editor/gui/src/features/externalLinks/urlBuilder.ts
Due: gui

fix: remove invalid option
  api-editor/gui/src/features/annotations/forms/BoundaryForm.tsx
Due: gui

chore: remove issue forms (use the ones from `.github` repo instead)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: copy to clipboard did not always work
  api-editor/gui/src/features/annotations/DataCopyButtons.tsx
Due: gui

fix: copy to clipboard did not always work (#1298)
  api-editor/gui/src/features/annotations/DataCopyButtons.tsx
Due: gui

docs: black as primary color for dark mode
  mkdocs.yml
Due: none

chore(release): 1.92.1 [skip ci]
  docs/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  42/4cb6b37f7240607ab2fd1d8726762d443fd7de
Due: none

docs: link to stable version instead of latest
  docs/README.md
Due: none

docs: use our domain for links to documentation site
  docs/README.md
Due: none

chore: update logo
  mkdocs.yml
Due: none

test: replace `jest` with `vitest`
  .eslintrc.js
  .github/workflows/main.yml
  .github/workflows/pr.yml
  api-editor/gui/build.gradle.kts
  api-editor/gui/jest.config.json
  api-editor/gui/package-lock.json
  api-editor/gui/package.json
  api-editor/gui/src/common/util/listOperations.test.ts
  api-editor/gui/src/common/util/stringOperations.test.ts
  api-editor/gui/src/common/util/validation.test.ts
  api-editor/gui/src/common/validation.test.ts
  api-editor/gui/src/features/annotations/mergeAnnotationStores.test.ts
  api-editor/gui/src/features/annotations/versioning/migrations.test.ts
  api-editor/gui/src/features/externalLinks/urlBuilder.test.ts
  api-editor/gui/src/features/filter/model/AbstractPythonFilter.test.ts
  api-editor/gui/src/features/filter/model/filterFactory.test.ts
  api-editor/gui/src/features/packageData/model/PythonClass.test.ts
  api-editor/gui/src/features/packageData/model/PythonFromImport.test.ts
  api-editor/gui/src/features/packageData/model/PythonFunction.test.ts
  api-editor/gui/src/features/packageData/model/PythonImport.test.ts
  api-editor/gui/src/features/packageData/model/PythonModule.test.ts
  api-editor/gui/src/features/packageData/model/PythonPackage.test.ts
  api-editor/gui/src/features/packageData/model/PythonParameter.test.ts
  api-editor/gui/src/features/packageData/model/PythonResult.test.ts
  api-editor/gui/src/features/packageData/treeView/HeatMapTag.test.ts
  api-editor/gui/src/features/statistics/StatisticView.test.ts
  package-lock.json
  package.json
Due: gui

style: fix `ESLint` errors
  api-editor/gui/src/common/util/listOperations.test.ts
  api-editor/gui/src/common/util/stringOperations.test.ts
  api-editor/gui/src/common/util/validation.test.ts
  api-editor/gui/src/common/validation.test.ts
  api-editor/gui/src/features/annotations/mergeAnnotationStores.test.ts
  api-editor/gui/src/features/annotations/versioning/migrations.test.ts
  api-editor/gui/src/features/filter/model/AbstractPythonFilter.test.ts
  api-editor/gui/src/features/filter/model/filterFactory.test.ts
  api-editor/gui/src/features/packageData/treeView/HeatMapTag.test.ts
  api-editor/gui/src/features/statistics/StatisticView.test.ts
  package-lock.json
  package.json
Due: gui

style: apply automated linter fixes
  api-editor/gui/build.gradle.kts
  api-editor/gui/src/common/util/listOperations.test.ts
  api-editor/gui/src/common/util/stringOperations.test.ts
  api-editor/gui/src/common/util/validation.test.ts
  api-editor/gui/src/common/validation.test.ts
  api-editor/gui/src/features/annotations/mergeAnnotationStores.test.ts
  api-editor/gui/src/features/annotations/versioning/migrations.test.ts
  api-editor/gui/src/features/externalLinks/urlBuilder.test.ts
  api-editor/gui/src/features/filter/model/AbstractPythonFilter.test.ts
  api-editor/gui/src/features/filter/model/filterFactory.test.ts
  api-editor/gui/src/features/packageData/model/PythonClass.test.ts
  api-editor/gui/src/features/packageData/model/PythonFromImport.test.ts
  api-editor/gui/src/features/packageData/model/PythonFunction.test.ts
  api-editor/gui/src/features/packageData/model/PythonImport.test.ts
  api-editor/gui/src/features/packageData/model/PythonModule.test.ts
  api-editor/gui/src/features/packageData/model/PythonPackage.test.ts
  api-editor/gui/src/features/packageData/model/PythonParameter.test.ts
  api-editor/gui/src/features/packageData/model/PythonResult.test.ts
  api-editor/gui/src/features/packageData/treeView/HeatMapTag.test.ts
  api-editor/gui/src/features/statistics/StatisticView.test.ts
Due: gui

build: add `@vitest/coverage-c8`
  api-editor/gui/package-lock.json
  api-editor/gui/package.json
Due: gui

ci: codecov config
  codecov.yml
Due: none

test: replace `jest` with `vitest` (#1315)
  .eslintrc.js
  .github/workflows/main.yml
  .github/workflows/pr.yml
  api-editor/gui/build.gradle.kts
  api-editor/gui/jest.config.json
  api-editor/gui/package-lock.json
  api-editor/gui/package.json
  api-editor/gui/src/common/util/listOperations.test.ts
  api-editor/gui/src/common/util/stringOperations.test.ts
  api-editor/gui/src/common/util/validation.test.ts
  api-editor/gui/src/common/validation.test.ts
  api-editor/gui/src/features/annotations/mergeAnnotationStores.test.ts
  api-editor/gui/src/features/annotations/versioning/migrations.test.ts
  api-editor/gui/src/features/externalLinks/urlBuilder.test.ts
  api-editor/gui/src/features/filter/model/AbstractPythonFilter.test.ts
  api-editor/gui/src/features/filter/model/filterFactory.test.ts
  api-editor/gui/src/features/packageData/model/PythonClass.test.ts
  api-editor/gui/src/features/packageData/model/PythonFromImport.test.ts
  api-editor/gui/src/features/packageData/model/PythonFunction.test.ts
  api-editor/gui/src/features/packageData/model/PythonImport.test.ts
  api-editor/gui/src/features/packageData/model/PythonModule.test.ts
  api-editor/gui/src/features/packageData/model/PythonPackage.test.ts
  api-editor/gui/src/features/packageData/model/PythonParameter.test.ts
  api-editor/gui/src/features/packageData/model/PythonResult.test.ts
  api-editor/gui/src/features/packageData/treeView/HeatMapTag.test.ts
  api-editor/gui/src/features/statistics/StatisticView.test.ts
  codecov.yml
  package-lock.json
  package.json
Due: gui

build: bump `chart.js` to `4.2.1`
  api-editor/gui/package-lock.json
  api-editor/gui/package.json
Due: gui

docs: set `site_url` to fix broken 404 page on RTD
  mkdocs.yml
Due: none

fix: update NPM dependencies
  api-editor/gui/package-lock.json
  api-editor/gui/package.json
  package-lock.json
  package.json
Due: gui

chore(release): 1.92.2 [skip ci]
  docs/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  29/68853eb2d7242e63a1f32e76d9e1cf26d04bcc
Due: none

chore ignore `.DS_Store` files
  .gitignore
Due: none

build(deps): Bump kotlin to v1.8.20
  api-editor/build.gradle.kts
Due: none

build(deps): Bump Kotlin to v1.8.20 (#1339)
  api-editor/build.gradle.kts
Due: none

docs: use canonical links to documentation
  docs/README.md
Due: none

fix: several warnings
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/server/Routing.kt
  api-editor/desktop/build.gradle.kts
Due: backend, desktop

style: fix linter error
  .editorconfig
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/server/Routing.kt
Due: backend

style: fix linter error
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/codegen/CodeGenerationPlan.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/codegen/PythonCodeGenerator.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/codegen/StubCodeGenerator.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/model/EditorAnnotations.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/mutableModel/PythonAst.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/BoundaryAnnotationProcessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/DescriptionAnnotationProcessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/EnumAnnotationProcessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/ExpertAnnotationProcessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/GroupAnnotationProcessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/Postprocessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/Preprocessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/PureAnnotationProcessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/RemoveAnnotationProcessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/RenameAnnotationProcessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/TodoAnnotationProcessor.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/transformation/ValueAnnotationProcessor.kt
  api-editor/backend/src/test/kotlin/com/safeds/apiEditor/codegen/StubCodeGeneratorTest.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/Content.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/HeatmapTag.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/Main.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/MenuBar.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/data/Settings.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Shape.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Theme.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Typography.kt
  api-editor/gui/src/common/util/listOperations.ts
  api-editor/gui/src/features/annotations/annotationSlice.ts
  api-editor/gui/src/features/externalLinks/urlBuilder.ts
  api-editor/gui/src/features/packageData/model/PythonModule.test.ts
  api-editor/gui/src/features/packageData/model/PythonPackage.test.ts
  api-editor/gui/src/features/packageData/model/PythonPackage.ts
  api-editor/gui/src/features/packageData/model/PythonParameter.test.ts
  api-editor/gui/src/features/packageData/model/PythonResult.test.ts
  api-editor/gui/src/features/statistics/StatisticView.test.ts
  api-editor/gui/src/features/usages/model/UsageCountStore.ts
Due: backend, desktop, gui

Path conditions:
  backend: any of: api-editor/backend/**
  desktop: any of: api-editor/desktop/**
  gui: any of: api-editor/gui/**
