Repository Safe-DS/API-Editor: changes, and which Codecov flags are due for each by the changed paths.
All: backend, desktop, gui

codecov.yml:

codecov:
  notify:
    after_n_builds: 2

comment:
  layout: 'header, diff, flags, components, files'

component_management:
  individual_components:
    - component_id: module_backend
      name: backend
      paths:
        - api-editor/backend/**
    - component_id: module_desktop
      name: desktop
      paths:
        - api-editor/desktop/**
    - component_id: module_gui
      name: gui
      paths:
        - api-editor/gui/**

ci: set permissions of `GITHUB_TOKEN`
  .github/workflows/megalinter.yml
Due: none

ci: fix MegaLinter `PRE_COMMANDS`
  .mega-linter.yml
Due: none

feat: remove generation of Safe-DS stubs
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/codegen/CodeGenerationPlan.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/codegen/StubCodeGenerator.kt
  api-editor/backend/src/test/kotlin/com/safeds/apiEditor/codegen/StubCodeGeneratorTest.kt
  docs/gui.md
Due: backend

style: apply automated linter fixes
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/codegen/CodeGenerationPlan.kt
Due: backend

feat: remove generation of Safe-DS stubs (#1396)
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/codegen/CodeGenerationPlan.kt
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/codegen/StubCodeGenerator.kt
  api-editor/backend/src/test/kotlin/com/safeds/apiEditor/codegen/StubCodeGeneratorTest.kt
  docs/gui.md
Due: backend

docs: link to resources for contributors
  docs/README.md
Due: none

build: add `@vitest/coverage-v8`
  .github/workflows/main.yml
  .github/workflows/pr.yml
  api-editor/gui/package-lock.json
  api-editor/gui/package.json
  api-editor/gui/vite.config.ts
Due: gui

docs: fix 404 page
  mkdocs.yml
  readthedocs.yml
Due: none

style: apply automated linter fixes
  readthedocs.yml
Due: none

docs: set `site_url` to fix broken 404 page on RTD (#1325)
  mkdocs.yml
  readthedocs.yml
Due: none

docs: fail on warnings
  mkdocs.yml
Due: none

docs: fail on warnings (#1397)
  mkdocs.yml
Due: none

docs: update repository link
  CITATION.cff
Due: none

chore: remove any external links
  api-editor/gui/src/features/annotations/AnnotationView.tsx
  api-editor/gui/src/features/annotations/MissingAnnotationButton.tsx
  api-editor/gui/src/features/menuBar/HelpMenu.tsx
Due: gui

Update docs/requirements.txt
  docs/requirements.txt
Due: none

refactor: remove desktop GUI experiment
  api-editor/desktop/build.gradle.kts
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/AnnotationDropdown.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/Content.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/HeatmapTag.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/Main.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/MenuBar.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/data/Settings.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Color.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Shape.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Theme.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Typography.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/utils/Color.kt
  api-editor/desktop/src/main/resources/i18n/labels.properties
  api-editor/desktop/src/main/resources/img/icon.svg
  api-editor/desktop/src/test/kotlin/com/safeds/apiEditor/utils/ColorTest.kt
  api-editor/settings.gradle.kts
Due: desktop

refactor: remove desktop GUI experiment (#1469)
  api-editor/desktop/build.gradle.kts
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/AnnotationDropdown.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/Content.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/HeatmapTag.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/Main.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/MenuBar.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/data/Settings.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Color.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Shape.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Theme.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/theme/Typography.kt
  api-editor/desktop/src/main/kotlin/com/safeds/apiEditor/utils/Color.kt
  api-editor/desktop/src/main/resources/i18n/labels.properties
  api-editor/desktop/src/main/resources/img/icon.svg
  api-editor/desktop/src/test/kotlin/com/safeds/apiEditor/utils/ColorTest.kt
  api-editor/settings.gradle.kts
Due: desktop

build: remove outdated dependencies
  api-editor/backend/build.gradle.kts
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/server/Application.kt
Due: backend

style: apply automated linter fixes
  api-editor/backend/build.gradle.kts
Due: backend

build: remove outdated dependencies (#1482)
  api-editor/backend/build.gradle.kts
  api-editor/backend/src/main/kotlin/com/safeds/apiEditor/server/Application.kt
Due: backend

build: fix kover config
  api-editor/build.gradle.kts
Due: none

ci: fix gradle task name
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

build: recreate lockfile
  package-lock.json
Due: none

chore(release): 1.93.0 [skip ci]
  docs/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  15/cfa1c23db876c8810eed56a6529899dc7e0108
Due: none

docs: add project status
  docs/README.md
Due: none
